name: CI for MLFlow Project

on:
  push:
    branches:
      - main  # Workflow akan dijalankan ketika ada push ke branch main
  pull_request:
    branches:
      - main  # Workflow akan dijalankan saat ada PR ke branch main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        conda env create -f MLProject/conda.yaml

    - name: Run MLflow Project
      run: |
        mlflow run . --experiment-name mlflow-experiment
