name: CI for MLFlow Project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Miniconda
      run: |
        # Install Miniconda
        wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
        bash miniconda.sh -b -f -p $HOME/miniconda
        export PATH="$HOME/miniconda/bin:$PATH"

        # Setup conda environment
        conda init bash
        conda env create -f MLProject/conda.yaml

    - name: Run MLflow Project
      run: |
        conda run -n mlflow-project mlflow run . --experiment-name mlflow-experiment
