name: CI for MLFlow Project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        conda env create -f MLProject/conda.yaml
        conda activate mlflow-project   # Aktifkan environment conda

    - name: Run MLflow Project
      run: |
        mlflow run . --experiment-name mlflow-experiment
